# Ignore local editor history (e.g. VSCode Local History extension)
.history/
plugins/wp-quickcheck/node_modules/.package-lock.json
plugins/wp-quickcheck/node_modules/.bin/detect-libc
plugins/wp-quickcheck/node_modules/.bin/sass
plugins/wp-quickcheck/node_modules/@parcel/watcher/binding.gyp
plugins/wp-quickcheck/node_modules/@parcel/watcher/index.d.ts
plugins/wp-quickcheck/node_modules/@parcel/watcher/index.js
plugins/wp-quickcheck/node_modules/@parcel/watcher/index.js.flow
plugins/wp-quickcheck/node_modules/@parcel/watcher/LICENSE
plugins/wp-quickcheck/node_modules/@parcel/watcher/package.json
plugins/wp-quickcheck/node_modules/@parcel/watcher/README.md
plugins/wp-quickcheck/node_modules/@parcel/watcher/wrapper.js
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/braces/index.js
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/braces/LICENSE
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/braces/package.json
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/braces/README.md
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/braces/lib/compile.js
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/braces/lib/constants.js
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/braces/lib/expand.js
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/braces/lib/parse.js
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/braces/lib/stringify.js
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/braces/lib/utils.js
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/fill-range/index.js
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/fill-range/LICENSE
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/fill-range/package.json
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/fill-range/README.md
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/is-extglob/index.js
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/is-extglob/LICENSE
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/is-extglob/package.json
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/is-extglob/README.md
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/is-glob/index.js
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/is-glob/LICENSE
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/is-glob/package.json
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/is-glob/README.md
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/is-number/index.js
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/is-number/LICENSE
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/is-number/package.json
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/is-number/README.md
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/micromatch/index.js
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/micromatch/LICENSE
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/micromatch/package.json
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/micromatch/README.md
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/picomatch/CHANGELOG.md
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/picomatch/index.js
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/picomatch/LICENSE
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/picomatch/package.json
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/picomatch/README.md
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/picomatch/lib/constants.js
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/picomatch/lib/parse.js
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/picomatch/lib/picomatch.js
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/picomatch/lib/scan.js
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/picomatch/lib/utils.js
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/to-regex-range/index.js
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/to-regex-range/LICENSE
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/to-regex-range/package.json
plugins/wp-quickcheck/node_modules/@parcel/watcher/node_modules/to-regex-range/README.md
plugins/wp-quickcheck/node_modules/@parcel/watcher/scripts/build-from-source.js
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/Backend.cc
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/Backend.hh
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/binding.cc
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/Debounce.cc
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/Debounce.hh
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/DirTree.cc
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/DirTree.hh
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/Event.hh
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/Glob.cc
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/Glob.hh
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/PromiseRunner.hh
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/Signal.hh
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/Watcher.cc
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/Watcher.hh
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/kqueue/KqueueBackend.cc
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/kqueue/KqueueBackend.hh
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/linux/InotifyBackend.cc
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/linux/InotifyBackend.hh
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/macos/FSEventsBackend.cc
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/macos/FSEventsBackend.hh
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/shared/BruteForceBackend.cc
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/shared/BruteForceBackend.hh
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/unix/fts.cc
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/unix/legacy.cc
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/wasm/include.h
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/wasm/WasmBackend.cc
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/wasm/WasmBackend.hh
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/watchman/BSER.cc
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/watchman/BSER.hh
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/watchman/IPC.hh
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/watchman/WatchmanBackend.cc
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/watchman/WatchmanBackend.hh
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/windows/win_utils.cc
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/windows/win_utils.hh
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/windows/WindowsBackend.cc
plugins/wp-quickcheck/node_modules/@parcel/watcher/src/windows/WindowsBackend.hh
plugins/wp-quickcheck/node_modules/@parcel/watcher-darwin-x64/LICENSE
plugins/wp-quickcheck/node_modules/@parcel/watcher-darwin-x64/package.json
plugins/wp-quickcheck/node_modules/@parcel/watcher-darwin-x64/README.md
plugins/wp-quickcheck/node_modules/@parcel/watcher-darwin-x64/watcher.node
plugins/wp-quickcheck/node_modules/detect-libc/.npmignore
plugins/wp-quickcheck/node_modules/detect-libc/LICENSE
plugins/wp-quickcheck/node_modules/detect-libc/package.json
plugins/wp-quickcheck/node_modules/detect-libc/README.md
plugins/wp-quickcheck/node_modules/detect-libc/bin/detect-libc.js
plugins/wp-quickcheck/node_modules/detect-libc/lib/detect-libc.js
plugins/wp-quickcheck/node_modules/node-addon-api/common.gypi
plugins/wp-quickcheck/node_modules/node-addon-api/except.gypi
plugins/wp-quickcheck/node_modules/node-addon-api/index.js
plugins/wp-quickcheck/node_modules/node-addon-api/LICENSE.md
plugins/wp-quickcheck/node_modules/node-addon-api/napi-inl.deprecated.h
plugins/wp-quickcheck/node_modules/node-addon-api/napi-inl.h
plugins/wp-quickcheck/node_modules/node-addon-api/napi.h
plugins/wp-quickcheck/node_modules/node-addon-api/node_addon_api.gyp
plugins/wp-quickcheck/node_modules/node-addon-api/node_api.gyp
plugins/wp-quickcheck/node_modules/node-addon-api/noexcept.gypi
plugins/wp-quickcheck/node_modules/node-addon-api/nothing.c
plugins/wp-quickcheck/node_modules/node-addon-api/package-support.json
plugins/wp-quickcheck/node_modules/node-addon-api/package.json
plugins/wp-quickcheck/node_modules/node-addon-api/README.md
plugins/wp-quickcheck/node_modules/node-addon-api/tools/check-napi.js
plugins/wp-quickcheck/node_modules/node-addon-api/tools/clang-format.js
plugins/wp-quickcheck/node_modules/node-addon-api/tools/conversion.js
plugins/wp-quickcheck/node_modules/node-addon-api/tools/eslint-format.js
plugins/wp-quickcheck/node_modules/node-addon-api/tools/README.md
plugins/wp-quickcheck/node_modules/sass/LICENSE
plugins/wp-quickcheck/node_modules/sass/package.json
plugins/wp-quickcheck/node_modules/sass/README.md
plugins/wp-quickcheck/node_modules/sass/sass.dart.js
plugins/wp-quickcheck/node_modules/sass/sass.default.cjs
plugins/wp-quickcheck/node_modules/sass/sass.default.js
plugins/wp-quickcheck/node_modules/sass/sass.js
plugins/wp-quickcheck/node_modules/sass/sass.node.js
plugins/wp-quickcheck/node_modules/sass/sass.node.mjs
plugins/wp-quickcheck/node_modules/sass/node_modules/chokidar/handler.d.ts
plugins/wp-quickcheck/node_modules/sass/node_modules/chokidar/handler.js
plugins/wp-quickcheck/node_modules/sass/node_modules/chokidar/index.d.ts
plugins/wp-quickcheck/node_modules/sass/node_modules/chokidar/index.js
plugins/wp-quickcheck/node_modules/sass/node_modules/chokidar/LICENSE
plugins/wp-quickcheck/node_modules/sass/node_modules/chokidar/package.json
plugins/wp-quickcheck/node_modules/sass/node_modules/chokidar/README.md
plugins/wp-quickcheck/node_modules/sass/node_modules/chokidar/esm/handler.d.ts
plugins/wp-quickcheck/node_modules/sass/node_modules/chokidar/esm/handler.js
plugins/wp-quickcheck/node_modules/sass/node_modules/chokidar/esm/index.d.ts
plugins/wp-quickcheck/node_modules/sass/node_modules/chokidar/esm/index.js
plugins/wp-quickcheck/node_modules/sass/node_modules/chokidar/esm/package.json
plugins/wp-quickcheck/node_modules/sass/node_modules/immutable/LICENSE
plugins/wp-quickcheck/node_modules/sass/node_modules/immutable/package.json
plugins/wp-quickcheck/node_modules/sass/node_modules/immutable/README.md
plugins/wp-quickcheck/node_modules/sass/node_modules/immutable/dist/immutable.d.ts
plugins/wp-quickcheck/node_modules/sass/node_modules/immutable/dist/immutable.es.js
plugins/wp-quickcheck/node_modules/sass/node_modules/immutable/dist/immutable.js
plugins/wp-quickcheck/node_modules/sass/node_modules/immutable/dist/immutable.js.flow
plugins/wp-quickcheck/node_modules/sass/node_modules/immutable/dist/immutable.min.js
plugins/wp-quickcheck/node_modules/sass/node_modules/readdirp/index.d.ts
plugins/wp-quickcheck/node_modules/sass/node_modules/readdirp/index.js
plugins/wp-quickcheck/node_modules/sass/node_modules/readdirp/LICENSE
plugins/wp-quickcheck/node_modules/sass/node_modules/readdirp/package.json
plugins/wp-quickcheck/node_modules/sass/node_modules/readdirp/README.md
plugins/wp-quickcheck/node_modules/sass/node_modules/readdirp/esm/index.d.ts
plugins/wp-quickcheck/node_modules/sass/node_modules/readdirp/esm/index.js
plugins/wp-quickcheck/node_modules/sass/node_modules/readdirp/esm/package.json
plugins/wp-quickcheck/node_modules/sass/types/compile.d.ts
plugins/wp-quickcheck/node_modules/sass/types/deprecations.d.ts
plugins/wp-quickcheck/node_modules/sass/types/exception.d.ts
plugins/wp-quickcheck/node_modules/sass/types/importer.d.ts
plugins/wp-quickcheck/node_modules/sass/types/index.d.ts
plugins/wp-quickcheck/node_modules/sass/types/options.d.ts
plugins/wp-quickcheck/node_modules/sass/types/legacy/exception.d.ts
plugins/wp-quickcheck/node_modules/sass/types/legacy/function.d.ts
plugins/wp-quickcheck/node_modules/sass/types/legacy/importer.d.ts
plugins/wp-quickcheck/node_modules/sass/types/legacy/options.d.ts
plugins/wp-quickcheck/node_modules/sass/types/legacy/plugin_this.d.ts
plugins/wp-quickcheck/node_modules/sass/types/legacy/render.d.ts
plugins/wp-quickcheck/node_modules/sass/types/logger/index.d.ts
plugins/wp-quickcheck/node_modules/sass/types/logger/source_location.d.ts
plugins/wp-quickcheck/node_modules/sass/types/logger/source_span.d.ts
plugins/wp-quickcheck/node_modules/sass/types/util/promise_or.d.ts
plugins/wp-quickcheck/node_modules/sass/types/value/argument_list.d.ts
plugins/wp-quickcheck/node_modules/sass/types/value/boolean.d.ts
plugins/wp-quickcheck/node_modules/sass/types/value/calculation.d.ts
plugins/wp-quickcheck/node_modules/sass/types/value/color.d.ts
plugins/wp-quickcheck/node_modules/sass/types/value/function.d.ts
plugins/wp-quickcheck/node_modules/sass/types/value/index.d.ts
plugins/wp-quickcheck/node_modules/sass/types/value/list.d.ts
plugins/wp-quickcheck/node_modules/sass/types/value/map.d.ts
plugins/wp-quickcheck/node_modules/sass/types/value/mixin.d.ts
plugins/wp-quickcheck/node_modules/sass/types/value/number.d.ts
plugins/wp-quickcheck/node_modules/sass/types/value/string.d.ts
plugins/wp-quickcheck/node_modules/source-map-js/LICENSE
plugins/wp-quickcheck/node_modules/source-map-js/package.json
plugins/wp-quickcheck/node_modules/source-map-js/README.md
plugins/wp-quickcheck/node_modules/source-map-js/source-map.d.ts
plugins/wp-quickcheck/node_modules/source-map-js/source-map.js
plugins/wp-quickcheck/node_modules/source-map-js/lib/array-set.js
plugins/wp-quickcheck/node_modules/source-map-js/lib/base64-vlq.js
plugins/wp-quickcheck/node_modules/source-map-js/lib/base64.js
plugins/wp-quickcheck/node_modules/source-map-js/lib/binary-search.js
plugins/wp-quickcheck/node_modules/source-map-js/lib/mapping-list.js
plugins/wp-quickcheck/node_modules/source-map-js/lib/quick-sort.js
plugins/wp-quickcheck/node_modules/source-map-js/lib/source-map-consumer.d.ts
plugins/wp-quickcheck/node_modules/source-map-js/lib/source-map-consumer.js
plugins/wp-quickcheck/node_modules/source-map-js/lib/source-map-generator.d.ts
plugins/wp-quickcheck/node_modules/source-map-js/lib/source-map-generator.js
plugins/wp-quickcheck/node_modules/source-map-js/lib/source-node.d.ts
plugins/wp-quickcheck/node_modules/source-map-js/lib/source-node.js
plugins/wp-quickcheck/node_modules/source-map-js/lib/util.js
